{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('assets/quack-logo.png') }}" alt="background"/>
    <a href="{{ path('quack_index') }}" class="btn btn-outline-success">Start Quacking!</a>
{% endblock %}