{% extends 'base.html.twig' %}

{% block body %}
    <div class="test">
        <img src="{{ asset('assets/quack-logo.png') }}" alt="background"/>
        <a href="{{ path('quack_index') }}" class="btn btn-outline-success" style="margin-top: 70px;
    width: 300px;height: auto;font-size: 30px;border: 2px solid">Start Quacking!</a>
    </div>
{% endblock %}
