{{ form_start(commentForm) }}

<div>
    {{ form_row(commentForm.content, {
        label: false
    }) }}
    <button class="btn btn-outline-success">{{ button_label|default('Comment') }}</button>
</div>

{{ form_end(commentForm) }}