{{ form_start(commentForm) }}
<div class="row">
    {{ form_row(commentForm.content, {
        label: false
    }) }}
    <button class="btn btn-outline-success" style="height: fit-content;margin-top: -3px;margin-left: 20px;">{{ button_label|default('Comment') }}</button>
</div>
{{ form_end(commentForm) }}