{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}

    <h1 class="custom-title">Quack's new ?</h1>

    {% for quack in quacks %}
        <div class="card custom-card">
            <div class="card-body">
                <h5 class="card-title">{{ quack.author.duckName }}{{ dump(quack.author) }}</h5>
                <p>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                <p class="card-text text-spacing">{{ quack.content }}</p>
                <div class="btn-align">
                    <a href="#" class="btn btn-primary btn-spacing btn-quack-color">Like</a>
                    <a href="#" class="btn btn-primary btn-spacing btn-quack-color">Comment</a>
                    <a href="#" class="btn btn-primary btn-spacing btn-quack-color">Share</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
