{% block body %}
    <nav class="navbar navbar-expand-lg custom-navbar">
        <a href="/quack"><img class="navbar-brand" src="{{ asset('assets/quack-logo.png') }}" alt="logo"
                              style="width: 35px; height:35px"/></a>
        <button class="navbar-toggler quack-color" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse custom-navbar" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <p class="welcome-message">Welcome {{ app.user.duckName }}</p>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <img src="/uploads/images/ducks/{{ app.user.fileName }}" class="rounded-circle mr-3"
                             height="35px" width="35px" alt="avatar">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/duck/{{ app.user.id }}">Mon Profil</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link quack-color" href="/login">Login</a>
                    </li>
                    <li>
                        <a class="nav-link quack-color" href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0 custom-navbar">
                <input class="form-control mr-sm-2 quack-color" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0 quack-color" type="submit">Search</button>
            </form>
        </div>
    </nav>
{% endblock %}